@import 'variables.scss';
:global {
  * {
    margin: 0;
    padding: 0;
  }

  img {
    border: none;
    vertical-align: top;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  html {
    user-select: none;
    @each $width in 320px, 375px, 384px, 400px, 414px, 424px, 480px, 540px, 600px, 640px, 720px, 768px, 800px, 854px, 960px, 966px, 1024px, 1080px, 1280px, 1440px, 1536px, 1920px, 2560px {
      @media screen and (min-width: $width) {
        font-size: 100px;
      }
    }
  }

  body {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: 1.2;
    color: $black;
    background: $white-bg;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  input {
    outline: none;
    border: none;
    font-size: $font-size;
    color: $black;
    font-family: $font-family;
    *::input-placeholder {
      color: $grey;
    }
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  textarea {
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button {
    outline: none;
    color: $black;
    font-size: $font-size;
    vertical-align: top;
    &:disabled {
      color: $grey;
    }
  }

  h1, h2, h3, h4, h5, h6, th {
    font-weight: $font-weight;
  }

  ul, ol {
    list-style: none;
  }

  table, thead, tbody, tr {
    display: block;
  }

  svg {
    vertical-align: top;
    cursor: pointer;
  }
  i {
    vertical-align: top;
  }
}
