//bg
$grey-bg:#f5f5f5;
$white-bg:#fff;
$black-bg:rgba(0,0,0,.5);

//colors
$blue:#5a96ff;
$black:#262626;
$grey:#7b7b7b;
$white:#fff;
$red:#df2d36;

// font family
$font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, '微软雅黑', '黑体', Arial, 'Lucida Grande', sans-serif;

// font-size
$font-size-small: 0.12rem;
$font-size: 0.16rem;
$font-size-large: 0.18rem;

// font-weight
$font-weight: 400;
$font-weight-bold: 700;

// transition
$transition: all 0.5s ease-in-out;