<div ng-class="['banner', 'app-banner']">
  <div class='content'>
    <div class='title'></div>
    <div class='code'></div>
  </div>
</div>
<div class='app'>
  <div class='one'>
    <div class='text'>
      <h2>头条内参</h2>
      <p>观察通过大数据技术，持续挖掘股市内参新闻，并使用人工智能算法，持续监测该新闻事件对股票市场的影响力度，挖掘相关个股，预测个股发展趋势。</p>
    </div>
    <div class='img'></div>
  </div>
  <div class='two'>
    <h2>热点题材</h2>
    <p>观察通过独家全网影响力指标，全方位7*24小时持续监控，提前发掘相关个股的买卖点。</p>
    <div class='img'></div>
  </div>
  <div class='three'>
    <div class='text'>
      <h2>个股影响力</h2>
      <p>使用大数据及人工智能计算相关个股全网影响力<br/>揭示个股短线异动<br/>助您快速把握短线交易机会</p>
    </div>
    <div class='img'></div>
  </div>
  <div class='four'>
    <div class='box'>
      <div class='text'>
        <h2>研究员</h2>
        <p>利用大数据模型对市场上的研究员、分析师等专业人士的报告、言论进行数据挖掘。通过人工智能分析和解读，找到最具有眼光的研究员，跟踪定位他们一致推荐的股票组合。</p>
      </div>
      <div class='img'></div>
    </div>
  </div>
</div>
