<div ng-class="['banner', 'about-banner']">
  <div class='content'>
    <div class='title'></div>
    <div class='code'></div>
  </div>
</div>
<div class='about'>
  <div class='one' id="product">
    <h2>产品介绍<br><span>PRODUCT&nbsp;DESCRIPTION</span></h2>
    <div class='img'></div>
    <ul class='text'>
      <li>
        <h3>行情实时推送&nbsp;频率仅3秒</h3>
        <p>行业最快</p>
      </li>
      <li>
        <h3>热点概念全网影响力实时监控</h3>
        <p>个股行情更易判断</p>
      </li>
      <li>
        <h3>每日财金头条舆情统计分析</h3>
        <p>轻轻松松选股票</p>
      </li>
    </ul>
  </div>
  <div class='two' id="aboutUs">
    <h2>关于我们<br><span>ABOUT&nbsp;US</span></h2>
    <p>搜股（北京）科技有限公司是一家中美合资公司，2015年成立于北京中关村科技园， 公司专注于财经、金融、证券领域的大数据挖掘与行为数据研究。通过全网碎片数据的结构化聚合， 链条化关系模型分析，为个人投资者、基金、券商、信托、资管等金融机构和个人提供专业的投资策略与情报服务。 目前公司团队主要由投行精英与互联网大牛构成，他们分别来自黑石集团、摩根大通、海通证券、联想、大智慧、 东方财富、同花顺等知名公司。</p>
  </div>
  <div class='three' id="company">
    <h2>公司环境<br><span>COMPANY&nbsp;ENVIRONMENT</span></h2>
    <ul>
      <li><img src="../../../../img/hj1.png" alt="搜股科技"></li>
      <li><img src="../../../../img/hj2.png" alt="搜股科技"></li>
      <li><img src="../../../../img/hj3.png" alt="搜股科技"></li>
    </ul>
  </div>
  <div class='four'>
    <h2>合作伙伴<br><span>PARTINERS</span></h2>
    <div class="img">
      <img src="../../../../img/band.png" alt="搜股科技">
    </div>
  </div>
  <div class='five'>
    <h2>联系我们<br><span>CONTACT&nbsp;US</span></h2>
    <ul class="img">
      <li><img src="../../../../img/yx.png" alt="搜股科技"></li>
      <li><img src="../../../../img/dz.png" alt="搜股科技"></li>
      <li><img src="../../../../img/dh.png" alt="搜股科技"></li>
    </ul>
    <ul class="text">
      <li>
        <h3>邮箱</h3>
        <p>hr@sogukj.com</p>
      </li>
      <li>
        <h3>地址</h3>
        <p>上海市浦东新区金科路2889弄<br>长泰广场C座804室</p>
      </li>
      <li>
        <h3>电话</h3>
        <p>021-80125603</p>
      </li>
    </ul>
  </div>
</div>
