<div ng-class="['banner', home.slider ? 'home-banner' : 'home-banner2']">
  <div class='content'>
    <div class='title'></div>
    <div class='code'></div>
  </div>
</div>
<div class='home'>
    <div class='one'>
        <h2>全方位7*24小时监控全网新闻和个股资讯，挖掘股市头条内参，解密全网影响力</h2>
        <p>跟踪研究员、分析师、公司高管等市场人士，对其发布的报告、文章、市场言论等资讯进行智能分析</p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class='two'>
        <h2>人工智能核心算法：利用深度学习算法结合海量的大数据使得决策根据不同的外部变化进行合理的调整，从而能做出更优化的决策。</h2>
        <p>基于此之上的NLP分析，更是可以分析人的情感信息，从心理层面的不同维度了解市场和个股的变化因子。从而预测个股趋势，发掘交易机会。</p>
    </div>
    <div class='three'>
        <h2>通过大数据挖掘和人工智能模型，有效预测市场趋势，针对市场异动及时预警，帮助用户把握市场脉搏和交易机会。</h2>
        <div class='bg2'></div>
        <div class='bg3'></div>
    </div>
</div>