<div ng-class="['banner', 'cheats-banner']">
  <div class='content'>
    <div class='img1'></div>
    <div class='img2'></div>
    <div class='img3'></div>
  </div>
</div>
<div class='cheats'>
  <div class='one cheats-box'>
    <img src="../../../../img/juhua-l.png" class="img1">
    <img src="../../../../img/juhua.png" class="img3">
  </div>
  <div class='two cheats-box'>
    <img src="../../../../img/lanhua-r.png" class="img2">
    <img src="../../../../img/lanhua.png" class="img3">
  </div>
  <div class='three cheats-box'>
    <img src="../../../../img/meihua-l.png" class="img1">
    <img src="../../../../img/meihua.png" class="img3">
  </div>
</div>